* {
    box-sizing: border-box;
    font-size: 20px;
}

.single {
    display: flex;
    margin-top: 10px;
}

label {
    width: 400px;
}
button {
    width: 655px;
    background-color: green;
    color: white;
    padding: 10px 0;
    margin-top: 10px;
}

p {
    color: red;
    width: 573px;
    text-align: center;
    font-weight: 700;
    visibility: hidden;
}