* {
    box-sizing: border-box;
    font-size: 20px;
}
td {
    padding: 10px 5px 0 10px;
}

button {
    width: 573px;
    background-color: green;
    color: white;
    padding: 10px 0;
    margin-top: 10px;
}

p {
    color: red;
    width: 573px;
    text-align: center;
    font-weight: 700;
    visibility: hidden;
}